<!DOCTYPE html>
<html>
<head>
  <title>addnote</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
  <form method="post" action="/addnote">
  <div class="box">
    <textarea name="title" rows="20" columns="90"> title</textarea>
     <textarea name="note" rows="20" columns="90"> note</textarea>
  </div>
  
  <div>
    <button type="submit">submit1</button>
  </div>
  </form>
  </div>
</body>
</html>