<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <style>
   body{
        background-image: url("https://cdn.icon-icons.com/icons2/505/PNG/512/glasses-books_icon-icons.com_49292.png");
         background-repeat: no-repeat;
         background-size: 2000px 1000px;

         }

         h1{
          front-size:30px;
         }

         p1{
          font-size: 80px;
          font-size-adjust: center;
         }

</style>

  <body>
    <h1><%= title %></h1>
    <p1>Women Leader In Technology<%= title %></p1>
    <p>Find Articles And Journels</p>

    <!-- <a href=/addnote> -->

    <button type="submit">Add Note</button></a>
  </body>
</html>
